.search-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
  position: relative;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  opacity: 0.7;
}

.search-button {
  padding: 8px 16px;
  position: absolute;
  right: 0;
  border: none;
  background: none;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: #333;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
