.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.rogo {
  margin-left: 50px;
}

.communication {
  margin-left: 50px;
}
.tripPlanner {
  margin-left: 50px;
}
.reservations {
  margin-left: 50px;
}
.login {
  margin-left: 700px;
}
.map-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
