@import "css/reset.css";
.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.rogo {
  margin-left: 50px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.search-input {
  padding: 8px;
  font-size: 16px;
  width: 300px;
}

.search-button {
  padding: 8px 16px;
  font-size: 16px;
}
.communication {
  margin-left: 50px;
}
.tripPlanner {
  margin-left: 50px;
}
.reservations {
  margin-left: 50px;
}
.login {
  margin-left: 700px;
}
.gyunggido_1 {
  position: absolute;
  width: 137px;
  height: 326px;
  top: 520px;
  left: 760px;
}

.click-area {
  cursor: pointer;
}
